<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= domain %>">

    <title>Pragati Enterprises | category</title>

    <%- include('styles'); -%>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
      <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
          <span>Loading</span>
        </div>
      </div>
      <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
      <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
  
  
    <!-- Start header section -->
    <%- include('header'); -%>
    <!-- / header section -->
  
    <section id="aa-error">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-error-area">
                <h2>404</h2>
                <span>Sorry! Page Not Found</span>
                <p>Sorry this content has been moved.</p>
                <a href="<%= domain %>"> Go to Homepage</a>
              </div>
            </div>
          </div>
        </div>
      </section>

  <!-- footer -->
  <%- include('footer'); -%>
  <!-- / footer -->

  <%- include('script'); -%>

  

  </body>
</html>      
