<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= domain %>">

    <title>Pragati Enterprises | All Products</title>

    <%- include('../styles'); -%>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
   <!-- wpf loader Two -->
    <div id="wpf-loader-two">
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div>
    <!-- / wpf loader Two -->
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <%- include('../header'); -%>
  <!-- / header section -->
  <!-- menu -->
  <%- include('../nav'); -%>
  <!-- / menu -->

  <!-- Products section -->
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center;text-transform: capitalize;">
        <h3><%=categoryName%></h3>
        <hr style="border-bottom: 1px solid #e6792e;">
      </div>
      <div class="col-md-12">
        <div class="row">
          <ul class="aa-product-catg">
            <% products.forEach((product) => { %>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="<%= domain %>/product/details?productId=<%= product.productId %>">
                    <img src="<%= domain %>/img/<%= product.productImages[0] %>" alt="<%= product.productId %>"></a>
                  <a class="aa-add-card-btn" href="<%= domain %>/product/details?productId=<%= product.productId %>"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;</span>view details</a>
                    <figcaption>
                    <h4 class="aa-product-title"><a href="<%= domain %>/product/details?productId=<%= product.productId %>"><%= product.productName %></a></h4>
                    <span class="aa-product-price hidden"><%= product.productPrice %></span><span class="aa-product-price hidden"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-val="<%= JSON.stringify(product)%>" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <!-- <span class="aa-badge aa-sale" href="#">SALE!</span> -->
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- / Products section -->

  <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4>FREE SHIPPING</h4>
                <!-- <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P> -->
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4>30 DAYS MONEY BACK</h4>
                <!-- <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P> -->
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4>SUPPORT 24/7</h4>
                <!-- <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->

  <!-- footer -->
  <%- include('../footer'); -%>
  <!-- / footer -->

  <!-- quick view modal -->
  <%- include('product-quick-view'); -%>
  <!-- / quick view modal -->

  <%- include('../script'); -%>

  

  </body>
</html>
