<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Pragati Enterprises | Product Detail | <%= product.productName %></title>
    <meta name="description" content="<%= product.productDesc %>">
    <meta name="keywords" content="<%= product.metaKeywords %>">

    <meta property="og:title" content="<%= product.productName %>">
    <meta property="og:description" content="<%= product.productDesc %>">
    <meta property="og:type" content="<%= product.metaKeywords %>">
    <meta property="og:url" content="<%= domain %>">
    <meta property="og:image" content="<%= domain %>/img/<%= product.productImages[0] %>"/>
        
    <%- include("../styles"); -%>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  

  </head>
  <body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">          
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> 
    <!-- / wpf loader Two -->       
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <%- include("../header"); -%>
  <!-- / header section -->
  <!-- menu -->
  <%- include("../nav"); -%>
  <!-- / menu -->
 
  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="<%= domain %>/img/product-details-banner.png" alt="<%= product.productName %> img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2><%= product.productName %></h2>
        <ol class="breadcrumb">
          <li><a href="<%= domain %>">Home</a></li>         
          <li><a href="#">Product</a></li>
          <li class="active"><%= product.productName %></li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

  <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12" style="height:400px">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container">
                          <% if(product.productImages) {%>
                            <a  data-lens-image="../img/<%= product.productImages[0] %>" 
                              class="simpleLens-lens-image"
                              style="height:350px !important">
                                <img src="<%= domain %>/img/<%= product.productImages[0] %>" class="simpleLens-big-image">
                          </a>
                          <%}%>
                        </div>
                      </div>
                      <div class="simpleLens-thumbnails-container">
                          <% product.productImages && product.productImages.forEach((img) => { %>
                            <a  data-big-image="<%= domain %>/img/<%= img %>" 
                              data-lens-image="<%= domain %>/img/<%= img %>"
                              class="simpleLens-thumbnail-wrapper"
                              href="#">
                                <img src="../img/<%= img %>">
                          </a>
                          <% })%>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12" style="height:400px">
                  <div class="aa-product-view-content">
                    <h3><%= product.productName %></h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price hidden"><%= product.productPrice %></span>
                      <p class="aa-product-avilability hidden">Avilability: <span>In stock</span></p>
                      <p class="help-block"><%= product.productDesc %></p>
                    </div>
                    <p style="max-height: 200px;overflow-y: auto;">
                      <%= product.productDetails %>
                    </p>
                    <div class="aa-prod-view-bottom">
                      <%if(product.productImages){%>
                      <a class="aa-add-to-cart-btn"
                         href="<%=domain%>/enquiry?productId=<%=product.productId%>&productName=<%=product.productName%>&categoryName=<%=product.categoryName%>&productImage=<%=product.productImages[0]%>&productDesc=<%=product.productDesc%>&metaKeywords=<%=product.metaKeywords%>">
                        Enquiry Now
                      </a>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="aa-product-details-bottom">
              <!-- Tab panes -->
              <div>
                <div class="tab-pane" id="description">
                  <h3 style="color: #e6792e;">Features</h3>
                  <ul>
                    <% product.features && product.features.forEach((feature) => { %> <li><%= feature %></li> <%}) %>
                  </ul>
                  </div>      
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / product category -->

  <!-- footer -->
  <%- include("../footer"); -%>
  <!-- / footer -->

  <%- include("../script"); -%>

  </body>
</html>